# 以'#'开始的行，被视为注释.                                                                                                                          

# 忽略掉所有文件名是foo.txt的文件.
foo.txt
# 忽略所有生成的class文件,
*.class
# foo.class是手工维护的，所以例外.
!foo.class
# 忽略所有.o和 .a文件.
*.[oa]